<div class="searchbar-container">
  <form class="example-form">
    <input matInput placeholder="{{'EXPLORER.SEARCH_LABEL' | translate}}" aria-label="Suggestions" [matAutocomplete]="auto" [formControl]="suggestionsCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let suggestion of suggestions " [value]="suggestion.name">
        <span>{{suggestion.name}}</span> |
        <small>Height: {{suggestion.height}}</small>
      </mat-option>
    </mat-autocomplete>
  </form>
