mat-form-field, input {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

.icon {
  height: 18px;
  width: 18px;
}

.mat-option {
  height: 50px;
  line-height: 20px;
}

.mat-option a {
  color: black;
  text-decoration: none;
}
